.advantages {
  overflow: hidden;
  position: relative;
  @include desk-only {
    // height: 100vh;
    //   min-height: 1062rem;
    // max-width: 1920rem;
    // width: 100%;
  }

  position: relative;
  overflow: hidden;

  &__cursor {
    position: fixed;
    top: 0;
    left: 0;
    scale: 0;
    opacity: 0;
    will-change: transform;
    z-index: 20;
    @include small-tablet {
      display: none;
    }
  }
  &__cursor-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 135rem;
    height: 135rem;
    background-color: $black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none; // Важно: чтобы клики проходили сквозь курсор
    z-index: 1000;

    svg {
      width: 40rem;
      height: 40rem;
      transition: transform 0.4s cubic-bezier(0.25, 1, 0.5, 1);
    }
  }

  &__nav-zones {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 1920rem;
    height: 100%;
    display: flex;
    z-index: 50;

    @include small-tablet {
      display: none;
    }
  }

  &__nav-zone {
    flex: 1;
    height: 100%;
    cursor: none;
  }

  // .advantages__container

  &__container {
    @include desk-only {
    }
  }

  // .advantages__inner

  &__inner {
    display: flex;
    flex-direction: column;
    gap: 84rem;
    align-items: center;
    justify-content: center;
    // &::before {
    //   position: absolute;
    //   left: 50%;
    //   top: 50%;
    //   transform: translate(-50%, -50%) scaleX(-1) rotate(180deg);
    //   content: '';
    //   width: 100vw;
    //   height: 110vh;
    //   min-height: 900rem;
    //   pointer-events: none;
    //   background: url(./assets/images/heroBg.webp) no-repeat top/cover;

    //   transform-origin: center center;
    //   @include small-tablet {
    //     background: url(./assets/images/heroBgMob.webp) no-repeat top/cover;
    //   }
    // }
    @include desk-only {
      height: 100vh;
      min-height: 1062rem;
      padding: 80rem 0;
    }

    @include small-tablet {
      padding: 60rem 0;
      gap: 24rem;
    }
  }

  // .advantages__title

  &__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 4rem;
    position: relative;
    z-index: 100;
    @include small-tablet {
      text-align-last: left;
      align-items: flex-start;
    }
  }

  // .advantages__swiper-box

  &__swiper-box {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100% !important;
  }

  // .advantages__swiper

  &__swiper {
    overflow: visible !important;
    width: 100% !important;
    @include desk-only {
      height: 714rem !important;
    }
  }

  // .advantages__swiper-wrapper

  &__swiper-wrapper {
  }

  // .advantages__swiper-slide

  &__swiper-slide {
    // position: absolute;
    // top: 50%;
    // left: 50%;
    // user-select: none;
    /* Центрируем точку трансформации */
    // will-change: transform;
    flex-shrink: 0;
    width: 714rem !important;
    height: 588rem !important;
    overflow: visible !important;

    @include small-tablet {
      width: 262rem !important;
      height: 312rem !important;
    }
    @include desk-only {
      & .advantages__slide-inner {
        opacity: 0.5;
        scale: 0.8;
        transform: rotateZ(20deg) translateY(-340rem) !important;
      }
      &.swiper-slide-prev {
        & .advantages__slide-inner {
          transform: rotateZ(8deg) translateY(-95rem) !important;
          scale: 0.85;
          opacity: 0.7;
        }
      }
      &.swiper-slide-active {
        & .advantages__slide-inner {
          opacity: 1;
          scale: 1;
          transform: rotateZ(0) !important;
        }
      }

      &.swiper-slide-next {
        & .advantages__slide-inner {
          transform: rotateZ(-8deg) translateY(-95rem) !important;
          scale: 0.85;
          opacity: 0.7;
        }
      }

      &.swiper-slide-next ~ .swiper-slide {
        & .advantages__slide-inner {
          opacity: 0.5;
          scale: 0.8;
          transform: rotateZ(-20deg) translateY(-340rem) !important;
        }
      }
    }
  }

  // .advantages__slide-inner

  &__slide-inner {
    box-shadow:
      19rem 6rem 43rem 0 rgba(142, 72, 115, 0.1),
      74rem 25rem 78rem 0 rgba(142, 72, 115, 0.09),
      463rem 154rem 137rem 0 rgba(142, 72, 115, 0);
    border-radius: 32rem;
    padding: 40rem;
    background: $white;
    width: 100%;
    transition: 0.6s;
    height: 100%;
    position: relative;
    @include small-tablet {
      padding: 20rem;
      border-radius: 12rem;
    }
  }

  // .advantages__slide-content

  &__slide-content {
    display: flex;
    flex-direction: column;
    gap: 25rem;
    @include small-tablet {
      gap: 10rem;
    }
  }

  // .advantages__slide-num

  &__slide-num {
    position: absolute;
    font-weight: 700;
    font-size: 20rem;
    color: rgba(73, 57, 80, 0.2);
    bottom: 40rem;
    left: 40rem;
    @include small-tablet {
      bottom: 20rem;
      left: 20rem;
      font-size: 12rem;
    }
  }
}
