.header {
  position: absolute;
  left: 0;
  right: 0;
  top: 32rem;
  z-index: 200;
  @include small-tablet {
    top: 16rem;
  }
  // .header__container

  &__container {
  }

  // .header__inner

  &__inner {
    position: relative;
    z-index: 2;
    margin: 0 -32rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow:
      inset 0 -7rem 12rem 0 rgba(255, 255, 255, 0.4),
      0 4rem 9rem 0 rgba(142, 72, 115, 0.2);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
    padding: 15rem 32rem;
    border-radius: 60rem;
    @include small-tablet {
      width: 100%;
      margin: 0;
      padding: 8rem 8rem 8rem 16rem;
    }
  }

  // .header__logo

  &__logo {
    width: 80rem;
    height: 80rem;
    @include small-tablet {
      width: 44rem;
      height: 44rem;
    }
  }

  // .header__nav

  &__nav {
    @include desk-only {
      margin-left: 64rem;
    }
  }

  // .header__list

  &__list {
    display: flex;
    align-items: center;
    gap: 120rem;
    @include small-tablet {
      flex-direction: column;
      gap: 42rem;
      align-items: flex-start;
    }
  }

  // .header__link

  &__link {
    position: relative;
    &:hover {
      &::before {
        width: 100%;
      }
    }
    &::before {
      width: 0;
      height: 2rem;
      background: $white;
      transition: width 0.3s;
      left: 0;
      bottom: -4rem;
      content: '';
      position: absolute;
    }
    @include small-tablet {
      font-weight: 600;
      font-size: 28rem;
      font-family: 'Unbounded';
      text-transform: uppercase;
    }
  }

  // .header__btn-box

  &__btn-box {
    gap: 32rem;
    display: flex;
    flex-direction: column;
  }

  // .header__contacts

  &__contacts {
    flex-direction: column;
    gap: 20rem;
    @include small-tablet {
      gap: 8rem;
    }
  }

  // .header__contacts-item

  &__contacts-item {
    display: flex;
    align-items: center;
    gap: 12rem;
  }

  // .header__contacts-svg

  &__contacts-svg {
    width: 32rem;
    height: 32rem;
    flex-shrink: 0;
    @include small-tablet {
      width: 24rem;
      height: 24rem;
    }
  }
  // .header__burger

  &__burger {
  }

  // .header__menu

  &__menu {
    @include desk-only {
      display: none;
    }
    position: fixed;
    inset: 0;
    background: url(./assets/images/heroBgMob.webp) no-repeat top/cover;
    padding: 136rem 16rem 60rem;
    display: flex;
    flex-direction: column;
    gap: 100rem;
    height: 100vh;
    height: 100dvh;
    overflow: auto;
    justify-content: space-between;
    transform: translateX(-110%);
    transition: transform 0.3s;
    &.isOpen {
        transform: translateX(0%);  
    }
  }
}

.burger {
  @include desk-only {
    display: none;
  }
  box-shadow: 0 3rem 5rem 0 rgba(142, 72, 115, 0.2);
  background: $white;
  width: 44rem;
  height: 44rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  &.isOpen {
    & .burger__svg-open {
      opacity: 0;
      scale: 0;
    }
    & .burger__svg-close {
      opacity: 1;
      scale: 1;
    }
  }
  // .burger__svg

  &__svg {
    position: absolute;
    width: 24rem;
    transition:
      scale 0.3s,
      opacity 0.3s;
  }

  // .burger__svg-open

  &__svg-open {
    opacity: 1;
    scale: 1;
  }

  // .burger__svg-close

  &__svg-close {
    opacity: 0;
    scale: 0;
  }
}
