.form {
  // .form__label-box

  &__label-box {
  }

  // .form__label

  &__label {
    position: relative;
    width: 100%;
    display: block;
  }

  // .form__label-inner

  &__label-inner {
    width: 100%;
    display: flex;
    // transition: padding 0.3s;
    // flex-direction: column-reverse;
    // gap: 10rem;
    // @include small-tablet {
    //   gap: 4rem;
    // }
    &._form-error {
      & ~ .form__error {
        visibility: visible;
        opacity: 1;
        line-height: normal;
      }
    }
  }

  // .form__input

  &__input {
    width: 100%;
    padding: 14.5rem 24rem;
    box-shadow:
      inset 0 -7rem 12rem 0 rgba(255, 255, 255, 0.4),
      0 4rem 9rem 0 rgba(142, 72, 115, 0.2);
    background: linear-gradient(179deg, #fff 0%, rgba(255, 255, 255, 0) 100%);
    font-weight: 400;
    font-size: 28rem;
    line-height: 140%;
    border-radius: 60rem;
    color: $black;
    font-family: 'Inter';
    cursor: text;

    &::placeholder {
      color: rgba(73, 57, 80, 0.5);
    }

    &:focus,
    &:active,
    &:not(:placeholder-shown) {
      & + .form__placeholder {
        scale: 0.7;
        top: -24rem;
        color: $white;
        @include small-tablet {
          top: -12rem;
        }
      }
    }

    @include small-tablet {
      padding: 12rem 24rem;
      font-size: 16rem;
    }
  }

  // .form__placeholder

  &__placeholder {
    position: absolute;
    left: 24rem;
    top: 50%;
    transform: translateY(-50%);
    font-weight: 400;
    font-size: 28rem;
    line-height: 140%;
    color: rgba(73, 57, 80, 0.5);
    font-family: 'Inter';
    transition: 0.3s;
    transform-origin: left center;
    pointer-events: none;
    @include small-tablet {
      font-size: 16rem;
    }
  }

  // .form__error

  &__error {
    position: absolute;
    bottom: -20rem;
    left: 24rem;
    font-weight: 400;
    font-size: 16rem;
    line-height: 140%;
    color: #cd2121;
    visibility: hidden;
    font-family: 'Inter';
    opacity: 0;
    text-transform: none;
    transition:
      opacity 0.3s,
      visibility 0.3s;
    @include small-tablet {
      font-size: 12rem;
        bottom: -14rem;
    }
    &.active {
      visibility: visible;
      opacity: 1;
      line-height: normal;
    }
  }

  // .form__btn-box

  &__btn-box {
  }

  //   &__textarea-wrap {
  //     position: relative;
  //     padding: 18rem 20rem;

  //     border: 2rem solid $tertiary-text;
  //     height: 140rem;
  //     @include small-tablet {
  //       padding: 18rem 16rem;
  //     }
  //   }
  //   &__textarea {
  //     resize: none;
  //     width: 100%;
  //     height: 100%;
  //     color: $text-primary;
  //     &::placeholder {
  //       color: $tertiary-text;
  //     }

  //     &::-webkit-scrollbar,
  //     &::-webkit-scrollbar-thumb,
  //     &::-webkit-scrollbar-track {
  //       display: none;
  //     }
  //   }

  //   &__textarea-count {
  //     position: absolute;
  //     z-index: 5;
  //     bottom: 20rem;
  //     right: 20rem;
  //     opacity: 0;
  //     &.active {
  //       opacity: 1;
  //     }
  //     @include small-tablet {
  //       bottom: 16rem;
  //       right: 16rem;
  //     }
  //   }

  //   &__check-label {
  //     display: flex;
  //     gap: 12rem;
  //     position: relative;
  //     cursor: pointer;
  //     & input {
  //       position: absolute;
  //       opacity: 0;
  //       display: block;
  //       z-index: -1;
  //       &:checked {
  //         & ~ .form__check-square {
  //           background: $accent;
  //           &:before {
  //             scale: 1;
  //           }
  //         }
  //       }
  //     }
  //     & .txt14 {
  //       @include small-tablet {
  //         font-size: 12rem;
  //       }
  //     }

  //     & a {
  //       text-decoration: underline;
  //     }
  //   }

  //   &__check-square {
  //     flex-shrink: 0;
  //     border: 2rem solid $accent;
  //     background: transparent;
  //     width: 24rem;
  //     height: 24rem;
  //     position: relative;
  //     display: flex;
  //     align-items: center;
  //     justify-content: center;
  //     transition: background 0.3s;
  //     pointer-events: none;
  //     @include small-tablet {
  //       width: 20rem;
  //       height: 20rem;
  //     }
  //     &::before {
  //       position: absolute;
  //       content: '';
  //       scale: 0;
  //       transition: scale 0.3s;
  //       width: 16rem;
  //       height: 14rem;
  //       background: url(./assets/images/checked.svg) no-repeat top/cover;
  //       @include small-tablet {
  //         width: 14rem;
  //         height: 12rem;
  //       }
  //     }
  //   }
  // }
}
