<section id="advantages" class="advantages">
  <div class="advantages__container container">
    <div class="advantages__inner">
      <div class="advantages__title">
        <p class="tl2">Наши преимущества</p>
        <p class="txt32">для вашей уверенности</p>
      </div>

      <div class="advantages__swiper-box">
        <div class="advantages__swiper swiper">
          <div class="advantages__swiper-wrapper swiper-wrapper">
            <div class="advantages__swiper-slide swiper-slide">
              <div
                class="advantages__slide-inner"
                style="background: url(./assets/images/advantages1.webp) no-repeat top/cover"
                ƒ
              >
                <div class="advantages__slide-content flex dc">
                  <p class="txt32 bold">Современный стэк</p>
                  <p class="txt28">
                    Вовлекающие рекламные и публикации на чеке-сайте и в Терминале. Покупатели подписываются в режиме реального
                    времени через чек или коды на упаковке.
                  </p>
                </div>
                <div class="advantages__slide-num">01</div>
              </div>
            </div>
            <div class="advantages__swiper-slide swiper-slide">
              <div class="advantages__slide-inner" style="background: url(./assets/images/advantages2.webp) no-repeat top/cover">
                <div class="advantages__slide-content flex dc">
                  <p class="txt32 bold">Умный сканер чеков</p>
                  <p class="txt28">
                    Простота загрузка чека через камеру смартфона или из фотогалереи и моментальная проверка в базах ФНС и Честный
                    Знак
                  </p>
                </div>
                <div class="advantages__slide-num">02</div>
              </div>
            </div>
            <div class="advantages__swiper-slide swiper-slide">
              <div class="advantages__slide-inner" style="background: url(./assets/images/advantages3.webp) no-repeat top/cover">
                <div class="advantages__slide-content flex dc">
                  <p class="txt32 bold">Прозрачная аналитика</p>
                  <p class="txt28">
                    Детализированные отчеты с аналитикой по инкрементальным продажам, эффективностью рекламных каналов, а также
                    полезные инсайты для маркетинговых стратегий
                  </p>
                </div>
                <div class="advantages__slide-num">03</div>
              </div>
            </div>
            <div class="advantages__swiper-slide swiper-slide">
              <div class="advantages__slide-inner" style="background: url(./assets/images/advantages4.webp) no-repeat top/cover">
                <div class="advantages__slide-content flex dc">
                  <p class="txt32 bold">
                    Служба заботы
                    <br />
                    о пользователях
                  </p>
                  <p class="txt28">
                    Две линии квалифицированных сотрудников поддержки и обученный ИИ позволяют быстро и качественно отвечать на
                    вопросы участников промо-акций
                  </p>
                </div>
                <div class="advantages__slide-num">04</div>
              </div>
            </div>
            <div class="advantages__swiper-slide swiper-slide">
              <div class="advantages__slide-inner" style="background: url(./assets/images/advantages5.webp) no-repeat top/cover">
                <div class="advantages__slide-content flex dc">
                  <p class="txt32 bold">
                    Интеллектуальный
                    <br />
                    поиск товаров
                  </p>
                  <p class="txt28">Система поиска автоматически распознает акционные товары в чеках  </p>
                </div>
                <div class="advantages__slide-num">05</div>
              </div>
            </div>
            <div class="advantages__swiper-slide swiper-slide">
              <div class="advantages__slide-inner" style="background: url(./assets/images/advantages6.webp) no-repeat top/cover">
                <div class="advantages__slide-content flex dc">
                  <p class="txt32 bold">
                    Автоматизация
                    <br />
                    выплат
                  </p>
                  <p class="txt28">
                    Моментальное начисление бонусных баллов и перевод их в один клик на банковскую карту или мобильный телефон. 
                  </p>
                </div>
                <div class="advantages__slide-num">06</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
