<section class="expertise">
  <div class="expertise__container container">
    <div class="expertise__inner flex dc">
      <div class="expertise__bg">
        <img src="./assets/images/expertiseBg.webp" alt="" />
      </div>
      <div class="expertise__title flex dc">
        <p class="tl2">Наша экспертиза</p>
        <p class="txt32">для ваших выдающихся результатов</p>
      </div>

      <div class="expertise__card-wrap">
        <div class="expertise__card">
          <p class="txt60">
            <span class="num">50+</span>
            штат
          </p>
          <p class="txt20">Более 50 сотрудников в команде</p>
        </div>
        <div class="expertise__card">
          <p class="txt60">
            <span class="num">>233</span>
            млн
          </p>
          <p class="txt20">Определили товаров</p>
        </div>
        <div class="expertise__card">
          <p class="txt60">
            <span class="num">>58</span>
            млн
          </p>
          <p class="txt20">Проверили чеков</p>
        </div>
        <div class="expertise__card">
          <p class="txt60">
            <span class="num">6+</span>
            лет
          </p>
          <p class="txt20">Более шести лет компания на рынке</p>
        </div>
        <div class="expertise__card">
          <p class="txt60">
            <span class="num">IT</span>
            -компания
          </p>
          <p class="txt20">Аккредитованная IT-компания</p>
        </div>
      </div>

      <a href="#tools" class="skip">
        <span class="txt20">Пропустить</span>
        <span class="skip_arr">
          <img src="./assets/images/arrDown.svg" alt="" />
        </span>
      </a>
    </div>
  </div>
</section>
