<footer class="footer">
  <div class="footer__container container">
    <div class="footer__bg">
      <img src="./assets/images/expertiseBg.webp" alt="" />
    </div>
    <div class="footer__inner">
      <div class="footer__logo-box">
        <div class="footer__logo">
          <img src="./assets/images/logo.svg" alt="" />
        </div>
        <p class="txt24 medium">Управление вашей выгодой, созданное технологиями</p>
      </div>

      <div class="footer__content-box flex dc">
        <nav class="footer__nav txt28 semibold">
          <ul class="footer__list">
            <li>
              <a href="#" class="footer__link">Продукты</a>
            </li>
            <li>
              <a href="#" class="footer__link">Решения</a>
            </li>
            <li>
              <a href="#" class="footer__link">О компании</a>
            </li>
            <li>
              <a href="#" class="footer__link">Контакты</a>
            </li>
          </ul>
        </nav>

        <div class="footer__info">
          <p class="footer__copy txt20 medium">© 2020-2026 «ЧекПэй», Все права защищены</p>
          <ul class="footer__contacts">
            <li>
              <a href="tel:74997000990" class="footer__contacts-item">
                <span class="footer__contacts-svg">
                  <img src="./assets/images/tel.svg" alt="" />
                </span>
                <span class="txt20 medium">7 (499) 700-09-90</span>
              </a>
            </li>
            <li>
              <a href="mailto:info@checkpay.ru" class="footer__contacts-item">
                <span class="footer__contacts-svg">
                  <img src="./assets/images/mail.svg" alt="" />
                </span>
                <span class="txt20 medium">info@checkpay.ru</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- <div class="fancybox-bg"></div> -->
