<header class="header">
  <div class="header__container container">
    <div class="header__menu" data-lenis-prevent="true"></div>
    <div class="header__inner">
      <a href="" class="header__logo">
        <img src="./assets/images/logo.svg" alt="" />
      </a>

      <nav class="header__nav" data-da=".header__menu, 768, first">
        <ul class="header__list txt28 white">
          <li>
            <a href="" class="header__link">Продукты</a>
          </li>
          <li>
            <a href="" class="header__link">Решения</a>
          </li>
          <li>
            <a href="" class="header__link">О компании</a>
          </li>
          <li>
            <a href="" class="header__link">Контакты</a>
          </li>
        </ul>
      </nav>

      <div class="header__btn-box" data-da=".header__menu, 768, last">
        <button class="btn-primary">
          <p class="txt28">Начать работу с нами</p>
        </button>
        <ul class="header__contacts mobile white">
          <li>
            <a href="tel:74997000990" class="header__contacts-item">
              <span class="header__contacts-svg">
                <img src="./assets/images/telWhite.svg" alt="" />
              </span>
              <span class="txt20 medium">7 (499) 700-09-90</span>
            </a>
          </li>
          <li>
            <a href="mailto:info@checkpay.ru" class="header__contacts-item">
              <span class="header__contacts-svg">
                <img src="./assets/images/mailWhite.svg" alt="" />
              </span>
              <span class="txt20 medium">info@checkpay.ru</span>
            </a>
          </li>
        </ul>
      </div>

      <button class="header__burger burger">
        <span class="burger__svg burger__svg-open">
          <img src="./assets/images/burgerOpen.svg" alt="" />
        </span>
        <span class="burger__svg burger__svg-close">
          <img src="./assets/images/burgerClose.svg" alt="" />
        </span>
      </button>
    </div>
  </div>
</header>
