<section class="hero">
  <div class="hero__container container">
    <div class="hero__inner">
      <div class="hero__decor hero__decor--left">
        <div class="hero__decor-line-box">
          <div class="hero__decor-line hero__decor-line--short"></div>
          <div class="hero__decor-line hero__decor-line--long"></div>
        </div>
        <div class="hero__decor-circle"></div>
      </div>
      <div class="hero__decor hero__decor--right">
        <div class="hero__decor-line-box">
          <div class="hero__decor-line hero__decor-line--short"></div>
          <div class="hero__decor-line hero__decor-line--long"></div>
        </div>
        <div class="hero__decor-circle"></div>
      </div>
      <div class="hero__logo">
        <div class="hero__logo-img hero__logo-img--1">
          <img src="./assets/images/checkLogo.webp" alt="" />
        </div>
        <div class="hero__logo-img hero__logo-img--2">
          <img src="./assets/images/payLogo.webp" alt="" />
        </div>
        <div class="hero__billet">
          <div class="hero__billet-btn txt28 upper semibold">
            <div class="hero__billet-btn-inner">для бизнеса</div>
          </div>
        </div>
      </div>

      <div class="hero__content txt40 white">
        <p class="hero__text">Эффективные FinTech & AdTech решения для роста продаж производителей</p>
        <div class="hero__swiper-box bold">
          <div class="hero__swiper swiper">
            <div class="hero__swiper-wrapper swiper-wrapper">
              <div class="hero__slide swiper-slide">
                <p class="hero__slide-text">FMCG товаров</p>
              </div>
              <div class="hero__slide swiper-slide">
                <p class="hero__slide-text">лекарственных препаратов</p>
              </div>
              <div class="hero__slide swiper-slide">
                <p class="hero__slide-text">ортопедической продукции</p>
              </div>
              <div class="hero__slide swiper-slide">
                <p class="hero__slide-text">косметических товаров</p>
              </div>
              <div class="hero__slide swiper-slide">
                <p class="hero__slide-text">ветеринарной продукции</p>
              </div>
              <div class="hero__slide swiper-slide">
                <p class="hero__slide-text">табачной продукции</p>
              </div>
              <div class="hero__slide swiper-slide">
                <p class="hero__slide-text">алкогольных товаров</p>
              </div>
              <div class="hero__slide swiper-slide">
                <p class="hero__slide-text">товаров для авто</p>
              </div>
              <div class="hero__slide swiper-slide">
                <p class="hero__slide-text">строительной продукции</p>
              </div>
              <div class="hero__slide swiper-slide">
                <p class="hero__slide-text">товаров для ремонта / сада</p>
              </div>
              <div class="hero__slide swiper-slide">
                <p class="hero__slide-text">парфюмерной продукции</p>
              </div>
              <div class="hero__slide swiper-slide">
                <p class="hero__slide-text">детских товаров и питания</p>
              </div>
              <div class="hero__slide swiper-slide">
                <p class="hero__slide-text">электронной техники</p>
              </div>
              <div class="hero__slide swiper-slide">
                <p class="hero__slide-text">бытовой техники</p>
              </div>
              <div class="hero__slide swiper-slide">
                <p class="hero__slide-text">канцелярских товаров</p>
              </div>
              <div class="hero__slide swiper-slide">
                <p class="hero__slide-text">лайфстайл товаров</p>
              </div>
            </div>
          </div>

          <div class="hero__pagination swiper-pagination"></div>
        </div>
      </div>
    </div>
  </div>
</section>
