<section id="tools" class="tools">
  <div class="tools__container container">
    <div class="tools__inner flex dc">
      <div class="tools__head flex sb sv">
        <div class="tools__title white flex dc">
          <p class="tl2">Наши инструменты</p>
          <p class="txt32">для роста ваших продаж</p>
        </div>
        <button class="btn-primary" data-da=".tools__inner, 768, last">
          <p class="txt28">Начать работу с нами</p>
        </button>
      </div>

      <div class="tools__card-container">
        <div class="tools__card-wrap">
          <div class="tools__card">
            <div class="tools__card-show">
              <p class="txt80">01</p>
              <p class="txt24 medium">Интерактивные чековые промо-акции </p>
            </div>
            <a href="#" class="tools__card-hide">
              <div class="tools__card-hide-inner">
                <div class="tools__card-arr">
                  <div class="tools__card-arr-svg">
                    <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M30.5223 9.99975C30.5223 9.0793 29.7762 8.33312 28.8557 8.33312L13.8561 8.33312C12.9356 8.33312 12.1895 9.0793 12.1895 9.99975C12.1895 10.9202 12.9356 11.6664 13.8561 11.6664L27.1891 11.6664L27.1891 24.9994C27.1891 25.9198 27.9353 26.666 28.8557 26.666C29.7762 26.666 30.5223 25.9198 30.5223 24.9994L30.5223 9.99975ZM10 28.8555L11.1785 30.034L30.0342 11.1782L28.8557 9.99975L27.6772 8.82127L8.82152 27.677L10 28.8555Z"
                        fill="#493950"
                      />
                    </svg>
                  </div>
                </div>
                <div class="tools__link-img">
                  <img src="./assets/images/tools1.webp" alt="" />
                </div>
                <div class="tools__link-info flex dc">
                  <p class="txt32 bold">Интерактивные чековые промо-акции </p>
                  <p class="txt28">
                    Вовлекающие розыгрыши и геймификация на промо-сайтах и в Telegram-ботах. Покупки подтверждаются в режиме
                    реального времени через чеки или коды на упаковке
                  </p>
                </div>
              </div>
            </a>
          </div>
          <div class="tools__card">
            <div class="tools__card-show">
              <p class="txt80">02</p>
              <p class="txt24 medium">Категорийные кэшбэк приложения</p>
            </div>
            <a href="#" class="tools__card-hide">
              <div class="tools__card-hide-inner">
                <div class="tools__card-arr">
                  <div class="tools__card-arr-svg">
                    <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M30.5223 9.99975C30.5223 9.0793 29.7762 8.33312 28.8557 8.33312L13.8561 8.33312C12.9356 8.33312 12.1895 9.0793 12.1895 9.99975C12.1895 10.9202 12.9356 11.6664 13.8561 11.6664L27.1891 11.6664L27.1891 24.9994C27.1891 25.9198 27.9353 26.666 28.8557 26.666C29.7762 26.666 30.5223 25.9198 30.5223 24.9994L30.5223 9.99975ZM10 28.8555L11.1785 30.034L30.0342 11.1782L28.8557 9.99975L27.6772 8.82127L8.82152 27.677L10 28.8555Z"
                        fill="#493950"
                      />
                    </svg>
                  </div>
                </div>
                <div class="tools__link-img">
                  <img src="./assets/images/tools2.webp" alt="" />
                </div>
                <div class="tools__link-info flex dc">
                  <p class="txt32 bold">Категорийные кэшбэк приложения</p>
                  <p class="txt28">
                    Удобные мобильные приложения под определенные группы товаров, где бренды разных производителей получают больше
                    продаж за меньшие инвестиции в продвижение 
                  </p>
                </div>
              </div>
            </a>
          </div>
          <div class="tools__card">
            <div class="tools__card-show">
              <p class="txt80">03</p>
              <p class="txt24 medium">
                Мотивация
                <br />
                Sales Force
              </p>
            </div>
            <a href="#" class="tools__card-hide">
              <div class="tools__card-hide-inner">
                <div class="tools__card-arr">
                  <div class="tools__card-arr-svg">
                    <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M30.5223 9.99975C30.5223 9.0793 29.7762 8.33312 28.8557 8.33312L13.8561 8.33312C12.9356 8.33312 12.1895 9.0793 12.1895 9.99975C12.1895 10.9202 12.9356 11.6664 13.8561 11.6664L27.1891 11.6664L27.1891 24.9994C27.1891 25.9198 27.9353 26.666 28.8557 26.666C29.7762 26.666 30.5223 25.9198 30.5223 24.9994L30.5223 9.99975ZM10 28.8555L11.1785 30.034L30.0342 11.1782L28.8557 9.99975L27.6772 8.82127L8.82152 27.677L10 28.8555Z"
                        fill="#493950"
                      />
                    </svg>
                  </div>
                </div>
                <div class="tools__link-img">
                  <img src="./assets/images/tools3.webp" alt="" />
                </div>
                <div class="tools__link-info flex dc">
                  <p class="txt32 bold">Мотивация Sales Force</p>
                  <p class="txt28">
                    Мотивационные программы для торговых представителей производителя и дистрибьютора, направленные на усиление их
                    вовлечённости и повышение приоритетности ваших задач и продуктов
                  </p>
                </div>
              </div>
            </a>
          </div>
          <div class="tools__card">
            <div class="tools__card-show">
              <p class="txt80">04</p>
              <p class="txt24 medium">Клубы лояльности</p>
            </div>
            <a href="#" class="tools__card-hide">
              <div class="tools__card-hide-inner">
                <div class="tools__card-arr">
                  <div class="tools__card-arr-svg">
                    <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M30.5223 9.99975C30.5223 9.0793 29.7762 8.33312 28.8557 8.33312L13.8561 8.33312C12.9356 8.33312 12.1895 9.0793 12.1895 9.99975C12.1895 10.9202 12.9356 11.6664 13.8561 11.6664L27.1891 11.6664L27.1891 24.9994C27.1891 25.9198 27.9353 26.666 28.8557 26.666C29.7762 26.666 30.5223 25.9198 30.5223 24.9994L30.5223 9.99975ZM10 28.8555L11.1785 30.034L30.0342 11.1782L28.8557 9.99975L27.6772 8.82127L8.82152 27.677L10 28.8555Z"
                        fill="#493950"
                      />
                    </svg>
                  </div>
                </div>
                <div class="tools__link-img">
                  <img src="./assets/images/tools4.webp" alt="" />
                </div>
                <div class="tools__link-info flex dc">
                  <p class="txt32 bold">Клубы лояльности</p>
                  <p class="txt28">
                    Долгосрочные персональные программы лояльности бренда для максимальной вовлеченности покупателей и
                    стимулирования повторных покупок. Моментальная верификация покупок в любой точке продаж через кассовый чек и
                    систему «Честный Знак»
                  </p>
                </div>
              </div>
            </a>
          </div>
          <div class="tools__card">
            <div class="tools__card-show">
              <p class="txt80">05</p>
              <p class="txt24 medium">Программы поддержки пациентов</p>
            </div>
            <a href="#" class="tools__card-hide">
              <div class="tools__card-hide-inner">
                <div class="tools__card-arr">
                  <div class="tools__card-arr-svg">
                    <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M30.5223 9.99975C30.5223 9.0793 29.7762 8.33312 28.8557 8.33312L13.8561 8.33312C12.9356 8.33312 12.1895 9.0793 12.1895 9.99975C12.1895 10.9202 12.9356 11.6664 13.8561 11.6664L27.1891 11.6664L27.1891 24.9994C27.1891 25.9198 27.9353 26.666 28.8557 26.666C29.7762 26.666 30.5223 25.9198 30.5223 24.9994L30.5223 9.99975ZM10 28.8555L11.1785 30.034L30.0342 11.1782L28.8557 9.99975L27.6772 8.82127L8.82152 27.677L10 28.8555Z"
                        fill="#493950"
                      />
                    </svg>
                  </div>
                </div>
                <div class="tools__link-img">
                  <img src="./assets/images/tools1.webp" alt="" />
                </div>
                <div class="tools__link-info flex dc">
                  <p class="txt32 bold">Программы поддержки пациентов</p>
                  <p class="txt28">
                    Программы лояльности для пациентов и/или их родственников. Социально значимые проекты с медицинской
                    экспертизой, соблюдением Закона о рекламе лекарственных средств и положительным ROI
                  </p>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>

      <a href="#advantages" class="skip white">
        <span class="txt20">Пропустить</span>
        <span class="skip_arr">
          <img src="./assets/images/arrDownWhite.svg" alt="" />
        </span>
      </a>
      <div class="swiper-progress">
        <div class="swiper-progress__bar"></div>
        <div class="swiper-progress__circle"></div>
      </div>
    </div>
  </div>
</section>
